*{
    padding: 10px;
    margin: 20px;
    color: #fdf0d5;
    text-align: center;
}

html, body {
    background-color: #669bbc;
}

.main-container {
    border: 14px solid #8d99ae;
    border-radius: 50px;
    margin: 2rem;
    background-color: #2b2d42;
}

section {
    border: 8px solid #8d99ae;
    margin: 1rem;
    border-radius: 30px;
    padding: 1rem;
    background-color: #2b2d42;
}
