*{
    margin: 10px;
    margin-top: 5px;
    background-color:rgb(34, 37, 36);
    padding: 0%;
    color: rgb(240, 237, 243);
    text-align: left;
}

header{
    background-color: rgb(15, 15, 165);
    border: 2px solid rgb(148, 12, 240);
    border-radius: 3%;
    text-align: center;
}

h1{
  background-color: rgb(15, 15, 165);
}

section{
    border: 2px solid rgb(148, 12, 240);
    border-radius: 1%;
}

header h1{
    text-align: center;
}

.regresa {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8f12d8;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
  }

.regresa:hover {
    background-color: #a10fce;
  }

footer{
    text-align: center;
}

/*para la tabla*/
section td{
    text-align: center;
}

.separator1 {
    width: 48%;
  }

.separator2 {
    width: 50%;
}


  table {
    border-collapse: collapse;
  }
  
  td {
    border: 2px solid rgb(92, 18, 211);
    padding: 10px;
    text-align: center;
  }

  .imagenesCSCM{
    width: 320px;
    height: 200px;
  }