*{
    margin: 10px;
    margin-top: 5px;
    color:black;
    background-color:aquamarine;
}

.portada {
    display:inline;
    justify-content:center;
    align-items:center;
    height: 100vh;
    
}

img {
    max-width: 70%;
    height: 50%;
}

/* Esto es el estilo del menu*/
.menu {
    background-color: #faf5f5;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    display: inline-block;
    border: solid 2px rgb(253, 252, 253);
    border-radius: 15px;
  }
  
  .menu ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    margin-bottom: auto;
  }


  /* por si acaso

  .menu ul li:hover > .submenu {
    display: block;
  }
  
  .menu .submenu {
    display: none;
    position: absolute;
    padding: 0;
  }
  
  .menu .submenu li {
    display:block;
  }
  
  .menu .submenu li a {
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    border-radius: 15px;
  }
  */