*{
    background-color: cornflowerblue;
    font-family:'Times New Roman', Times, serif;
    margin: 1%;
}

header{
    border: 7px solid rgb(148, 12, 240);
    border-radius: 50px;
    margin: 2rem;
    text-align: center;
}

.container{
    border: 7px solid rgb(148, 12, 240);
    border-radius: 50px;
    margin: 2rem; 
}